{% extends "base.html" %}

{% block content %}
<a href="{% url 'index' %}">Main Menu</a>

<h3>Documents in category {{category}}</h3>
<table>
    <tr>
        <th>Select</th>
        <th>Title</th>
        <th>Type</th>
        <th>Description</th>
        <th>Category</th>
        <th>Tags</th>
    </tr>
{% for book in books %}
    <tr>
        <td><input type="checkbox" name="todelete" value="{{ item.id }}"/></td>
        <td><a href="{% url 'book_detail' book.id %}">{{book.title|capfirst}}</a></td>
        <td>{{book.type}}</td>
        <td>{{book.description}}</td>
        <td>{{book.category}}</td>
        <td>{{book.tags}}</td>
    </tr>
{% empty %}
    <p>No documents yet!</p>
{% endfor %}
</table>

{% block pagination %}
  {% if is_paginated %}
      <div class="pagination">
          <span class="page-links">
              {% if page_obj.has_previous %}
                  <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
              {% endif %}
              <span class="page-current">
                  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
              </span>
              {% if page_obj.has_next %}
                  <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
              {% endif %}
          </span>
      </div>
  {% endif %}
{% endblock %}
{% endblock %}


